@import url("https://use.typekit.net/vhp3qnp.css");

/********* CUSTOM COLORS **********/
:root {
	--mrorange1: #FFF9F5;
	--mrorange2: #FFEBDF;
	--mrorange3: #FDC09A;
	--mrorange5: #F8853E;
	--mrorange7: #DD671E;
	--mrorange9: #924211;

	--mrteal1: #F6FCFC;
	--mrteal3: #C2E5E5;
	--mrteal5: #82C4C3;
	--mrteal7: #408685;
	--mrteal9: #1B4D4C;

	--mrblue1: #F5FBFF;
	--mrblue3: #B2D6EE;
	--mrblue5: #85AFCA;
	--mrblue7: #45718E;
	--mrblue9: #0B3856;

	--mrgrey1: #FAFAFA;
	--mrgrey3: #D5D5D5;
	--mrgrey5: #A0A0A0;
	--mrgrey7: #6B6B6B;
	--mrgrey9: #353535;
}

html {
	font-size: 10px !important;
}

body {
    font-family: objektiv-mk3;
    padding: 1em 1em 0;
    background: #9ac3de;
    background: -moz-linear-gradient(45deg, #9ac3de 29%, #9ac3de 29%, #9fd3d2 76%, #9fd3d2 76%);
    background: -webkit-linear-gradient(45deg, #9ac3de 29%,#9ac3de 29%,#9fd3d2 76%,#9fd3d2 76%);
    background: linear-gradient(45deg, #9ac3de 29%,#9ac3de 29%,#9fd3d2 76%,#9fd3d2 76%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ac3de', endColorstr='#9fd3d2',GradientType=1 );
}

h1, h2 {
     font-family: objektiv-mk1;
     font-size: 4rem;
     color: var(--mrblue9);
}

h3 {
     font-family: objektiv-mk1;
	font-size: 1.6rem;
	font-weight: 100;
	font-style: italic;
	color: var(--mrblue5);
}

h4 {
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--mrblue7);
}

p {
	font-size: 1.6rem;
}


.dropdown-menu {
	width: 20rem;
}

.dropdown-toggle, #ttcButton {
	font-size: 1.6rem;
}

.multiselect-container>li>a:focus {
	outline: none !important;
}

.multiselect-container>li>a>label {
	padding: .25rem .5rem !important;
}

.grid {
    width: 100%;
    /*min-height: 700px;*/
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    height: calc(100vh - 250px - 3em);
}

.columnHeaderLabel, .rowHeaderLabel {
	font-size: 1.6rem;
	font-weight: bold;
	color: var(--mrblue7);
}

.cell {
    overflow: scroll;
    display: block;
    text-align: center;
}

.cell.odd, .rowHeaderLabel.odd, .columnHeaderLabel.odd {
	background-color: #F0F2F6;
}

.exampleLabel {
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 2px 4px;
    margin: 4px;
    overflow: hidden;
}

.exampleLabel:hover {
    background: rgba(253, 200, 140, 0.747)!important;
    z-index: 9999;
    cursor: pointer;
}

.exampleLabel.selectedExample {
    background: rgb(241, 172, 93)!important;
    cursor: pointer;
}

.showMoreButton {
	background: none;
	border: none;
	border-radius: 16px;
	color: #8995AE;
	padding: 3px 6px 2px;
	text-align: center;
	text-decoration: underline;
	font-size: 1.2rem;
	opacity: .66;
}

.infobox {
	background-color: #F0F2F6;
}

#projectLink {
	color: #212E48;
}

.fa-external-link-alt, .fa-youtube, .fa-info-circle {
	color: #8995AE;
}

#projectByline {
	font-style: italic;
}

#projectPurposes, #projectTech {
	font-weight: bold;
}

.purposeTag, .techTag {
	background-color: #D8D8D8;
	border-radius: 100px;
	padding: 0px 8px;
	margin: 4px 4px;
	display: inline-block;
	font-weight: normal;
}

.primPurposeTag {
	background-color: white;
	border: 1px solid #909090;
}

#projectImg {
	display: block;
	width: 100%;
}

#projectImg.hidden, #projectVideo.hidden {
	display: none;
}

#projectVideoLink {
	color: #212E48;
	text-decoration: none;
	width: 100%;
}

#projectVideoLink:hover {
	text-decoration: underline;
}

.titlefilterbox{
    height: 200px;
}

#infobox{
    height: calc(60vh - 1.5em);
    overflow: scroll;
    padding: 1em 0;
}

.whitecards{
	margin-bottom: 1em;
	background: white;
	border-radius: 5px;
}

.matrixbox {
	height: calc(100vh - 200px - 3em);
}

/* Create two equal columns that floats next to each other */
.mycolumn {
	float: left;
	width: 50%;
	padding: 10px;
}


.colleft {
	width: 65%;
}

.colright {
	width: 35%;
}

.myrow{display: flex;}

/* Active Filter Box */

#activefilters{
    height: calc(40vh - 1.5em);
    overflow: scroll;
    padding: 1em 0;
    font-weight: 100;
    overflow: visible !important;
    overflow-y: scroll !important;
}

#filterCategoryBox {
	background: var(--mrorange1);
	margin: 0 -.5rem 1rem;
	padding: .5rem;
	border-radius: 5px;
}

.activeFilterTag, .goodExampleTag {
	background: var(--mrteal3);
	padding: 0 .5rem;
	border-radius: 100px;
	font-size: 1.2rem;
	color: var(--mrblue9);
}

.activeFilterTag {
	font-weight: bold;
}

.activeFilterTag > i {
	padding: 0 .25rem 0 0;
}

.filterText {
	font-size: 1.2rem;
	color: var(--mrblue9);
}

















